h1{
    background-color: peachpuff;
    color: purple;
    text-align:center;
}

.chicken{
    height: auto;
    width: 700px
}

p,li,h3{
    color: purple;
    font-size: 22px
}

h2{
    text-align: center;
    background-color:peachpuff;
    color: purple;
    font-size: 30px
}

.sweet{
    height: auto;
    width: 900px
}

.panc{
    height: auto;
    width: 850px
}



*{
    font-family: "Verdana", 'Tahoma', sans-serif